<!DOCTYPE HTML>
<html>
<head>
    <title>python-socketio test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            let namespace = '/chat';
            const socket = io('ws://' + document.domain + ':' + location.port + namespace, {transports: ['websocket']});
            socket.on('joined', function(msg) {
                console.log(msg);
            });
            socket.on('disconnect', function() {
                $('#log').append('<br>Disconnected');
            });
            socket.on('info', function(msg) {
              console.log(msg);
                $('#log').append('<br>Received: ' + msg.data);
            });
            socket.on('room_message', function (msg) {
              $('#chat').append('<br> ' + msg.from + ': ' + msg.text);
            });
            $('form#send_room').submit(function(event) {
                socket.emit('room_message', {text: $('#room_data').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.disconnect();
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>python-socketio test</h1>
    <h2>Send:</h2>
    <form id="send_room" method="POST" action='#'>{% csrf_token %}
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>
    <form id="disconnect" method="POST" action="#">{% csrf_token %}
        <input type="submit" value="Disconnect">
    </form>
    <h2>Chat:</h2>
    <div><p id="chat"></p></div>
    <br>
    <h2>Receive:</h2>
    <div><p id="log"></p></div>
</body>
</html>
