{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Battle of Chains{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Battle of Chains crypto-game">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-6KY5s6UI5J7SVYuZB4S/CZMyPylqyyNZco376NM2Z8Sb8OxEdp02e1jkKk/wZxIEmjQ6DRCEBhni+gpr9c4tvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/js/bootstrap.min.js" integrity="sha512-ewfXo9Gq53e1q1+WDTjaHAGZ8UvCWq0eXONhwDuIoaH8xz2r96uoAYaQCm1oQhnBfRXrvJztNXFsTloJfgbL5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body class="{% block body-class %}black-theme{% endblock %}">

    <div class="mb-1">
    {% block navbar %}
      <nav class="navbar nav-marketplace">
        <div class="container">
          <img src="{% static 'images/Logo.png' %}" alt="logo">
          <div class="menu row">
            <div class="col"><a href="{% url 'users:hangar' %}">My&nbsphangar</a></div>
            <div class="col"><a href="{% url 'market:marketplace' %}">Marketplace</a></div>
            <div class="col">Staking</div>
            <div class="col">Help&nbspCenter</div>
            <div class="col">Download</div>
          </div>
          <div class="login-button">
            {% if request.user.is_authenticated %}
              <span class="wallet-id"></span>
              <a href="/accounts/logout/?next=/marketplace/">Log Out</a>
            {% else %}
              <a href="/accounts/login/?next=/marketplace/">Log In</a>
            {% endif %}
          </div>
        </div>
      </nav>
    {% endblock %}
    </div>

    <div class="container">

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}
      <div class="modal fade show" id="tx-spinner">
        <div class="spinner-grow spinner-grow-lg tx-spinner" role="status"></div>
      </div>
      <!-- Modal -->
      <div class="modal fade show" id="success-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content justify-content-center" style="color: #24262C">
            <div class="modal-header">
              <h5 class="modal-title">Transaction success!</h5>
            </div>
            <div class="modal-body text-center">
              Your new tank is being shipped to your hangar
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload();">Ok</button>
              <button type="button" class="btn btn-primary"><a href="{% url 'users:hangar' %}">Go to hangar</a></button>
            </div>
          </div>
        </div>
      </div>
    {% endblock modal %}

    {% block inline_javascript %}
    {% endblock inline_javascript %}
  </body>
</html>
