{% extends "base.html" %}
{% load static truncate_trailing_zeroes solo_tags %}
{% block javascript %}
  <script src="{% static 'js/web3.min.js' %}"></script>
  <script src="{% static 'js/project.js' %}"></script>
{% endblock %}

{% block content %}
  {% get_solo 'battle.BattleSettings' as global_settings %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row">
        <div class="col-2">
          <img src="{% if request.user.avatar %}
                      {{ request.user.avatar.url }}
                    {% elif global_settings.default_avatar %}
                      {{ global_settings.default_avatar.url }}
                    {% endif %}" alt="avatar">
          <p>{{ request.user.username }}</p>
        </div>
        <div class="col-10 card-wrap info-wrap">
          <div class="info-text">My wallet <span>{{ request.user.wallet }}</span></div>
          <div class="network-info info-wrap">
            <p>{{ global_settings.active_network.name }}</p>
            <div class="user-assets row">
              {% for currency, value, usd in user_assets %}
              <div class="col-4">
                <p>{{ value }} {{ currency }}</p>
                <p>{{ usd }} USD</p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="row get-token info-wrap">
            <div class="col" style="border-right: 1px solid white;">Where to get TNK</div>
            <div class="col"><a href="#"><img src=""></a></div>
            <div class="col"></div>
          </div>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col card-wrap info-wrap user-stats">
          <div class="info-text">Статистика боёв</div>
        </div>
        <div class="col card-wrap">
          <img src="{{ last_offer.image.url }}" alt="offer"/>
        </div>
      </div>
      <hr>
      <div class="row row-cols-4">
      {% for tank in tanks %}
        <div class="col">
          <div class="card-wrap">
            <a href="{% url 'users:hangar-detail' tank.id %}" class="card-top" style="background-image: url('{% if tank.image %}{{ tank.image.url }}{% endif %}');">
              <div>
                <span class="tank-id"># {{ tank.id }}</span>
                <span class="tank-type">{{ tank.type }}</span>
              </div>
            </a>
            <div class="card-bottom">
              <div class="card-bottom-1">
                <div class="tank-name">{{ tank.name }}</div>
                <div class="small-text">{{ tank.type }}</div>
              </div>
              <div class="card-bottom-2">
                <img src="{% static 'images/cart-btn.png' %}" alt="cart"
                  onclick="tank_action({{ tank.id }}, {% if tank.has_nft %}true{% else %}false{% endif %}, '{{ tank.nft_meta_url }}')"
                >
                <div class="tank-price">
                  <img src="{% static 'images/price-icon.png' %}" style="margin-right: 8px;" alt="">
                  {{ tank.price|truncate_trailing_zeroes }} BNB
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

{% block modal %}
  {{ block.super }}
  {% include 'includes/hangar_modals.html' %}
{% endblock %}

{% block inline_javascript %}
  {% get_solo 'battle.BattleSettings' as global_settings %}
  <script>
    set_account().then(result => {
      document.querySelector('.wallet-id').textContent = result;
      getChainId().then(result => {
        if (result !== '{{ global_settings.active_network.chain_id }}') {
          setNetwork().then(result => {console.log(result)});
        }
      });
    }).catch(err => {console.log(err)});
  </script>
  {% include 'includes/hangar_script.html' %}
{% endblock inline_javascript %}
