{% extends "base.html" %}
{% load static %}
{% block javascript %}
  <script src="{% static 'sockpuppet/sockpuppet.js' %}"></script>
  <script src="{% static 'js/web3.min.js' %}"></script>
{% endblock %}
{% block content %}
  <script>

  </script>
  <div class="row">
    <div class="col-3 filters">
      <p>Filter</p>
      <hr>
    </div>
    <div class="col-9 offers">
      <p>NFTs For Sale</p>
      <hr>
      {% for tank in tanks %}
        {% if forloop.counter0|divisibleby:"4" %}<div class="row">{% endif %}
        <div class="col-3">
          <p><img src="{{ tank.image.url }}" style="width:100%"></p>
          <p>{{ tank.name }}</p>
        </div>
        {% if forloop.counter|divisibleby:"4" or forloop.last %}</div>{% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
