{% extends "base.html" %}
{% load static %}
{% block javascript %}
  <script src="{% static 'js/web3.min.js' %}"></script>
{% endblock %}
{% block content %}
  <script>
    async function getAccount() {
      const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
      return accounts[0];
    }

    let xhr = new XMLHttpRequest();
    let abi;
    let contract_address;
    xhr.open('GET', '/api/contracts/2/', false);
    xhr.send();
    if (xhr.status !== 200) {
      alert( xhr.status + ': ' + xhr.statusText );
    } else {
      let data = JSON.parse(xhr.responseText);
      abi = data.contract_definitions.abi;
      contract_address = data.address;
    }
    const web3 = new Web3(Web3.givenProvider);
    let myContract = new web3.eth.Contract(abi, contract_address);

    getAccount().then(function (account) {
      console.log(account);
      let xhr = new XMLHttpRequest();
      xhr.open('POST', '/api/wallets/', false);
      xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      xhr.setRequestHeader('Authorization', 'Token 81bb6f858f62bbff4dacb4036dbba9991ccfe42c')
      xhr.send("address=" + account);
      console.log(xhr.status, xhr.statusText);
      let txn = myContract.methods.buy(1);
      let gas = txn.estimateGas({from: account, value: web3.utils.toWei('0.7')});
      gas.then(function (gasAmount) {
        console.log(gasAmount);
        web3.eth.getTransactionCount(account).then(function (nonce) {
          console.log(nonce);
          web3.eth.getGasPrice().then(function (price) {
            console.log(price);
            txn.send({
              gas: gasAmount,
              from: account,
              gasPrice: price,
              nonce: nonce,
              value: web3.utils.toWei('0.7')
            }).then(function(receipt){
                console.log(receipt);
            });
          })

        })

      })
    });
  </script>
  {% for tank in object_list %}
    <div>
      <p>{{ tank.name }}</p>
      <p><img src="{{ tank.image.url }}"></p>
    </div>
  {% endfor %}
{% endblock %}
