{% extends "base.html" %}
{% load static custom_tags solo_tags %}
{% block javascript %}
  <script src="{% static 'js/web3.min.js' %}"></script>
  <script src="{% static 'js/project.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row">
        <div style="margin-bottom: 30px;"><a href="{% url 'market:marketplace' %}"><- Back</a></div>
        <div class="col-6">
          <img src="{% if tank.image %}{{ tank.image.url }}{% endif %}" alt="tank-image" class="tank-image card-wrap">
          <p>О танке</p>
          <p class="tank-desc">{{ tank.description }}</p>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <span class="tank-id"># {{ tank.id }}</span>
              <span class="tank-type">{{ tank.type }}</span>
            </div>
          </div>
          <div class="tank-name-detail row">
            <div class="col">
              {{ tank.name }}
              <span class="tank-supply">{% if tank.offer %}{{ tank.offer.amount_sold }} / {{ tank.offer.amount }}{% else %}1 / 1{% endif %}</span>
            </div>
          </div>
          <div class="row card-wrap info-wrap">
            <div class="info-text">Стоимость</div>
            <div class="tank-price-detail">
              <img src="{% static 'images/price-icon-big.png' %}" style="margin-right: 8px;" alt="">
              {% if tank.has_offer %}{{ tank.offer.price|truncate_trailing_zeroes }}{% else %}{{ tank.price|truncate_trailing_zeroes }}{% endif %} BNB
            </div>
            <button class="buy-now"
                {% if request.user.is_authenticated %}
                  {% if tank.has_offer and tank.offer.id in bought_offers.keys %}
                   onclick="window.location.href='/user/hangar/{{ bought_offers|get_item:tank.offer.id }}'"
                  {% elif tank.has_nft %}
                   onclick="buy_token({{ tank.id }}, {{ tank.price }})"
                  {% else %}
                   onclick="buy_and_mint_token({{ tank.id }}, '{{ tank.nft_meta_url }}', {% if tank.has_offer %}{{ tank.offer.price }}{% else %}{{ tank.price }}{% endif %})"
                  {% endif %}
                {% else %}
                   onclick="window.location.href='/accounts/login/?next=/marketplace/'"
                {% endif %}>Buy Now</button>
          </div>
          <div class="row card-wrap info-wrap">
            <div class="info-text">About</div>
            {% for name, val in props.items %}
              <div class="col-6">
                <p class="prop-name">{{ name }}</p>
                <p class="prop-val">{{ val }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <hr>
      {% if similar_tanks %}<p>Похожие танки</p>{% endif %}
      <div class="row">
        {% for tank in similar_tanks %}
          <div class="col-3">
            <div class="card-wrap">
              <a href="{% url 'market:marketplace-detail' tank.id %}" class="card-top" style="background-image: url('{% if tank.image %}{{ tank.image.url }}{% endif %}');">
                <div>
                  <span class="tank-id"># {{ tank.id }}</span>
                  <span class="tank-type">{{ tank.type }}</span>
                  <span class="tank-supply">{% if tank.offer %}{{ tank.offer.amount_sold }} / {{ tank.offer.amount }}{% else %}1 / 1{% endif %}</span>
                </div>
              </a>
              <div class="card-bottom">
                <div class="card-bottom-1">
                  <div class="tank-name">{{ tank.name }}</div>
                  <div class="small-text">{{ tank.type }}</div>
                </div>
                <div class="card-bottom-2">
                  <img src="{% static 'images/cart-btn.png' %}" alt="cart"
                    {% if request.user.is_authenticated %}
                       onclick="{% if tank.has_nft %}buy_token({{ tank.id }}, {{ tank.price }}){% else %}buy_and_mint_token({{ tank.id }}, '{{ tank.nft_meta_url }}', {% if tank.has_offer %}{{ tank.offer.price }}{% else %}{{ tank.price }}{% endif %}){% endif %}"
                    {% else %}
                       onclick="window.location.href='/accounts/login/?next=/marketplace/{{ tank.id }}/'"
                    {% endif %}
                  >
                  <div class="tank-price">
                    <img src="{% static 'images/price-icon.png' %}" style="margin-right: 8px;" alt="">
                    {% if tank.has_offer %}{{ tank.offer.price|truncate_trailing_zeroes }}{% else %}{{ tank.price|truncate_trailing_zeroes }}{% endif %} BNB
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

{% block inline_javascript %}
  {% get_solo 'battle.BattleSettings' as global_settings %}
  <script>
    {% if request.user.is_authenticated %}
      set_account().then(result => {
        console.log(result);
        getChainId().then(result => {
          if (result !== '{{ global_settings.active_network.chain_id }}') {
            setNetwork().then(result => {console.log(result)});
          }
        });
      }).catch(err => {console.log(err)});
    {% endif %}
  </script>
{% endblock inline_javascript %}
